## PYTHON 3 HANDS_ON

In [6]:
# 1.Write a Python program to sum all the items in a list.
lst=[1,2,3,4,9]
sum=0
for i in lst:
    sum+=i
print(sum)

19

#### Q1 ANS:19

In [24]:
# 2. Write a Python program to get the largest/smallest number from a list
lst2=[33,55,65,10]   
l=s=lst2[0]
for i in lst2:
    if(l<i):
        l=i

for i in lst2:
    if(s>i):
        s=i
print(l,"(Largest):",s," %d (Smallest)")

65 (Largest): 10  %d (Smallest)

#### Q2 ANS:65(Largest):10(Smallest)

In [26]:
# 3. Write a python program to create a list of even numbers and another list of odd numbers from a given 
        
list1 = [11, 22, 33, 44, 55]
even=[]
odd=[]
for i in list1:
    if(i%2==0):
        even.append(i)
for i in list1:
    if(i%2!=0):
        odd.append(i)
print(even)
print(odd)

[22, 44]
[11, 33, 55]

#### Q3 ANS:list1:     [11, 22, 33, 44, 55]
####       listEven:  [22, 44]
####      listOdd:   [11, 33, 55]

In [27]:
# 4.Write a python program to remove repeated elements from a given list without using built-in methods
duplicate = [2, 4, 10, 20, 5, 2, 20, 4] 
removed=[]
for i in duplicate:
    if(i not in removed):
        removed.append(i)
print(removed)

[2, 4, 10, 20, 5]

#### Q4 ANS:[2, 4, 10, 20, 5]

In [36]:
# 5.Generate and print a list except for the first 5 elements, 
#where the values are square of numbers 
nums=[1,2,3,4,5,23,7,8,9,10]
list1=[]
for i in range(5,10):
    square=i*i
    list1.append(square)
print(list1)

[25, 36, 49, 64, 81]

#### Q5 ANS:[36, 49, 64, 81, 100]

In [15]:
# 6.What is the expression that returns the 'z' in 'baz'?
# What expression returns the list ['baz', 2.718]?

x1 = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']

In [37]:
# 7. Write a Python program to find common items from two lists.

color1 = ["Red", "Green", "Orange", "White"]
color2 = ["Black", "Green", "White", "Pink", "Red"]
new=[]
for i in color1:
    if(i in color2):
        new.append(i)
print(new)

['Red', 'Green', 'White']

#### Q7 ANS:Red
####               Green
####               White

In [19]:
# 8.Write a Python program to convert string to tuple and get the 4th element and 4th element from last of a tuple.
#Get an item of the tuple
word = "opensourcecoding"

#### Q8 ANS:4th element is s 
####               4th element from last is d

In [49]:
# 9. Write a Python program to find the repeated items of a tuple and no duplicate output.

tup =(2, 4, 5, 6, 2, 3, 4, 4, 7) 
lst=[]
for i in tup:
    tot=tup.count(i)
    if(tot>1):
        if(i not in lst):
            lst.append(i)
print(lst)

[2, 4]

#### Q9 ANS:Repeated items:[2,4]

In [52]:
# 10. remove s form given tuple, "dont convert to list"

tuplex = ("o","p","e","n","s","o","u","r","c","e","c","o","d","i","n","g")
tuplex.remove("s")

AttributeError: 'tuple' object has no attribute 'remove'

#### Q10 ANS:('o', 'p', 'e', 'n', 'o', 'u', 'r', 'c', 'e', 'c', 'o', 'd', 'i', 'n', 'g')

In [71]:
# 11. write a program to verify the given number is prime or not(prime = the factors of number is 1 and itself(only 2 factors))
num = 8
if(num>1):
    for i in range(2,num):
        if(num%i==0):
            flag=0
            break
        
        else:
            flag=1
            break
    
if(flag==0):
    print("not prime")
else:
    print("prime")

not prime

In [58]:
# Program to check if a number is prime or not
num = 407
# To take input from the user
#num = int(input("Enter a number: "))
# prime numbers are greater than 1
if num > 1:
   # check for factors
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           break
   else:
       print(num,"is a prime number")
       
# if input number is less than
# or equal to 1, it is not prime
else:
   print(num,"is not a prime number")

407 is not a prime number
11 times 37 is 407

#### Q11 ANS:Not a Prime Number

In [31]:
# 12. Write a program, which will find all such numbers between 1000 and 3000 (both included) 
# such that each digit of the number is an even number.
# The numbers obtained should be printed in a comma-separated sequence on a single line.

for i in range(1000,3000):
    for(i)
    if(i%2)

#### Q12 ANS:2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

In [78]:
# 13. Write a Python function to sum all the numbers in a list.

def sumfun(l):
    sum=0
    for i in l:
        sum=sum+i
    print(sum)
    
L=[8, 2, 3, 0, 7]
sumfun(L)

20

#### Q13 ANS:20

In [44]:
# 14. Write a Python function that accepts a string and calculate the number of upper case letters and 
# lower case letters using dictionary.

str3='The quick Brown Fox'

#### Q14 ANS:{'UPPER_CASE': 3, 'LOWER_CASE': 13}

In [104]:
# 15.write a python function to find the factorial of given number(Take the number as input)(factorial of 3! = 3*2*1)
x=int(input())
fact1=1
for i in range(1,x+1):
    fact1=fact1*i
print(fact1)

5
120

In [99]:
n = 23
fact = 1
  
for i in range(1,n+1): 
    fact = fact * i 
      
print ("The factorial of 23 is : ",end="") 
print (fact)

The factorial of 23 is : 25852016738884976640000

In [107]:
# 16. Write a Python function to create and print a list where the values are square of numbers between 1 and n (both included)(use range function)
#If the input is 5 the output should be [1, 4, 9, 16,25]

n=int(input())
lst=[]
for i in range(1,n+1):
    x=i*i
    lst.append(x)
print(lst)

5
[1, 4, 9, 16, 25]

In [7]:
# 17.Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
# between 2000 and 3200 (both included).
for i in range(2000,3200):
    if(i%7==0 and i%5!=0):
        print(i)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

#### Q17 ANS:2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

In [6]:
# 18. Print the reverse of the given list
lis = [2,3,4,5,6,7,8,9,10]
x=lis[::-1]

print(x)

[10, 9, 8, 7, 6, 5, 4, 3, 2]

#### Q18 ANS: [10,9,8,7,6,5,4,3,2]

In [10]:
# 19 Write a Python program to change the position of every n-th value with the (n+1)th in a list
n = [0,1,2,3,4,5,7,8]
from itertools import zip_longest, chain, tee
def replace2copy(lst):
    return list(chain.from_iterable(zip_longest(lst[1::2], lst[::2])))
n = [0,1,2,3,4,5]
print(replace2copy(n))

[1, 0, 3, 2, 5, 4]

#### Q19 ANS: [1, 0, 3, 2, 5, 4, 8, 7]

In [4]:
# 20 Capitalize the word starting with m:
song = """When an eel grabs your arm, And it causes great harm, That's - a moray!"""

#### Q20 ANS: When an eel grabs your arm, And it causes great harm, That's - a Moray!